.header {
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    margin-bottom: 30px;
}
.order{
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    margin-bottom: 30px;
}